#intro {
    width: 100vw;
    height: calc(100vh - 2 * 110px);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #B2C2A8;

    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600; /* semibold */
}

#intro-text {
    width: 700px;
    font-size: 15px;
}

#intro-text p {
    margin-top: 0;
}

#dark-green {
    font-family: "Open Sans";
    font-weight: 700; /* bold */
    color: #283C37;
}

#brown {
    font-family: "Open Sans";
    font-weight: 700; /* bold */
    color: #52361B;
}

#pink {
    font-family: "Open Sans";
    font-weight: 700; /* bold */
    color: #bd2b80;
}

#violet {
    font-family: "Open Sans";
    font-weight: 700; /* bold */
    color: 	#9400D3;
}

@media only screen and (max-width: 852px) {
    #intro-text {
        width: 64vw;
    }
}

@media only screen and (max-width: 414px) {
    #intro {
        font-size: 16px;
    }
}

@media only screen and (max-width: 375px) {
    #intro {
        font-size: 14px;
    }
}
