a:link {
    text-decoration: none;
    font-weight: 700;
}

a:visited {
    text-decoration: none;
    color: #283C37;
    /* color: #14b18d; */
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
    font-weight: 700;
}

a:active {
    text-decoration: underline;
    font-weight: 700;
}

html {
    overflow-x: hidden;
}

.project-header {
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    /* border-style: solid;
    border-width: 404.18px 725.11px 0 0; */
    /* border-color: #283C37 transparent transparent transparent; */
    /* border-color: #14b18d transparent transparent transparent; */

}

.project-title {
    padding: 50px 0px 0px 50px;
    width: calc(100vw - 50px);
    margin-bottom: 45px;
}

.project-title h1 {
    /* font-family: "Lato"; */
    /* font-family: New, Courier; */
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace; ;


    font-weight: 900;
    font-size: 36px;
    /* color: #B2C2A8; */
    /* color:#0c536c; */
    color:#00000;

    margin: 0;
}

.project-title h2 {
    /* font-family: "Open Sans"; */
    /* font-family: New, Courier; */
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace; ;


    font-weight: 400;
    font-size: 14px;
    /* color: #B2C2A8; */
    /* color:#0c536c; */
    color:#00000;

    margin: 0;
}

.project-title h2 a {
    font-weight: 400;
    /* color: #B2C2A8; */
    color:#0c536c;
    /* color:#00000; */

}

#project-body {
    /* font-family: "Open Sans"; */
    /* font-family: New, Courier; */
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace; ;


    font-weight: 600;
    color: #000000;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project-image-large {
    width: 90vw;
    margin-bottom: 15px;
}

#project-body figure {
    margin: 0;

    /* figure {
      display: block;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 80px;
      margin-right: 40px;
    } */

}

#project-body img {
  display: block;
  /* margin: 0; */
  /* margin-left: 100px; */
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}


#project-body figcaption {
    width: 90vw;
    font-size: 14px;
}

#project-body table {
    margin: auto;
    table-layout: fixed ;
}

#project-body td {
    width: 50%;
}

#project-body p {
    font-size: 18px;
    width: 70vw;
    margin-top: 0;
}


#time-spent-desc p{
    font-size: 16px;
    width: 80vw;
    margin-top: 0;
    font-weight: normal;
}

#project-body .project-text-small {
    font-size: 14px;
}

.project-paragraph {
    margin-top: 120px;
    margin-bottom: 120px;
}

.project-code-snippet {
    /* font-family: "Roboto Mono"; */
    /* font-family: New, Courier */
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace; ;


    background-color: lightgray;
}

.project-text-small {
    font-style: italic;
    text-align: center;
}

@media only screen and (max-width: 852px) {
    .project-title h1 {
        font-size: 30px;
    }

    .project-title h2 {
        font-size: 12px;
    }

    #project-body figcaption {
        font-size: 12px;
    }

    #project-body p {
        font-size: 14px;
    }

    #project-body table {
        font-size: 14px;
        width: 70vw;
    }

    .project-paragraph {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #project-body .project-text-small {
        font-size: 11px;
    }
}

@media only screen and (max-width: 414px) {
    .project-header {
        border-width: 25vw 100vw 50vw 0px;
        border-color: #283C37 #283C37 transparent transparent;
        transform: scaleX(-1);
    }

    .project-paragraph {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .project-image-large {
        margin-bottom: 10px;
    }

    #project-body p {
        font-size: 13px;
    }

    #project-body table {
        font-size: 13px;
    }
}

@media only screen and (max-width: 375px) {
    .project-title {
        padding: 50px 0px 0px 30px;
        width: calc(100vw - 30px);
        margin-bottom: 45px;
    }

    .project-title h1 {
        font-size: 25px;
    }

    .project-title h2 {
        font-size: 12px;
    }

    .project-paragraph {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #project-body figcaption {
        font-size: 11px;
    }

    #project-body p {
        font-size: 12px;
    }

    #project-body table {
        font-size: 12px;
    }
}
