#intro {
    width: 100vw;
    height: calc(100vh - 2 * 110px);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #B2C2A8;

    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600; /* semibold */
}

#intro-text {
    width: 700px;
    font-size: 15px;
}

#intro-text p {
    margin-top: 0;
}

#dark-green {
    font-family: "Open Sans";
    font-weight: 700; /* bold */
    color: #283C37;
}

#brown {
    font-family: "Open Sans";
    font-weight: 700; /* bold */
    color: #52361B;
}

#pink {
    font-family: "Open Sans";
    font-weight: 700; /* bold */
    color: #bd2b80;
}

#violet {
    font-family: "Open Sans";
    font-weight: 700; /* bold */
    color: 	#9400D3;
}

@media only screen and (max-width: 852px) {
    #intro-text {
        width: 64vw;
    }
}

@media only screen and (max-width: 414px) {
    #intro {
        font-size: 16px;
    }
}

@media only screen and (max-width: 375px) {
    #intro {
        font-size: 14px;
    }
}




body { margin: 60px auto; width: 70%; }

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }
